In [19]:
#load Data
DATA_PATH = '../data/raw/survey_results_public.csv'

In [2]:
#load important Libs
import pandas as pd 
import numpy as np
import matplotlib as plt
import seaborn as sb
pd.options.display.max_rows =10000

In [20]:
df = pd.read_csv(DATA_PATH)
df.head(5)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [21]:
df.shape

(64461, 61)

In [22]:
# Display random answer
# observations: Multiple answers need to be splitted
# Reference to the schema needed to understand
df.sample(1).iloc[0]

Respondent                                                                  31964
MainBranch                                            I code primarily as a hobby
Hobbyist                                                                      Yes
Age                                                                          22.0
Age1stCode                                                                     19
CompFreq                                                                      NaN
CompTotal                                                                     NaN
ConvertedComp                                                                 NaN
Country                                                                   Nigeria
CurrencyDesc                                                                  NaN
CurrencySymbol                                                                NaN
DatabaseDesireNextYear           Microsoft SQL Server;MongoDB;MySQL;Oracle;SQLite
DatabaseWorkedWith                                                   MySQL;SQLite
DevType                         Data scientist or machine learning specialist;...
EdLevel                         Secondary school (e.g. American high school, G...
Employment                                     Not employed, but looking for work
Ethnicity                                             Black or of African descent
Gender                                                                        Man
JobFactors                                                                    NaN
JobSat                                                                        NaN
JobSeek                                                                       NaN
LanguageDesireNextYear                             Dart;JavaScript;PHP;Python;SQL
LanguageWorkedWith                                                  Dart;HTML/CSS
MiscTechDesireNextYear                                 Flutter;Node.js;TensorFlow
MiscTechWorkedWith                                             Flutter;TensorFlow
NEWCollabToolsDesireNextYear    Github;Gitlab;Facebook Workplace;Slack;Microso...
NEWCollabToolsWorkedWith        Github;Gitlab;Slack;Microsoft Teams;Trello;Goo...
NEWDevOps                                                                     NaN
NEWDevOpsImpt                                                                 NaN
NEWEdImpt                                                      Somewhat important
NEWJobHunt                                                                    NaN
NEWJobHuntResearch                                                            NaN
NEWLearn                                                              Once a year
NEWOffTopic                                                                   Yes
NEWOnboardGood                                                                NaN
NEWOtherComms                                                                 Yes
NEWOvertime                                                                   NaN
NEWPurchaseResearch             Ask developers I know/work with;Visit develope...
NEWPurpleLink                                                   Hello, old friend
NEWSOSites                      Stack Overflow (public Q&A for anyone who code...
NEWStuck                        Play games;Visit Stack Overflow;Go for a walk ...
OpSys                                                                       MacOS
OrgSize                                                                       NaN
PlatformDesireNextYear                        Android;Google Cloud Platform;Linux
PlatformWorkedWith              Android;Google Cloud Platform;Heroku;IBM Cloud...
PurchaseWhat                                                                  NaN
Sexuality                                                 Straight / Heterosexual
SOAccount                                                                     Yes
SOComm                                                                    Neutral
SOPartFreq                                                   A few times per week
SOVisitFreq                                                 Daily or almost daily
SurveyEase                                             Neither easy nor difficult
SurveyLength                                                Appropriate in length
Trans                                                                          No
UndergradMajor                                                                NaN
WebframeDesireNextYear                                Angular;Angular.js;React.js
WebframeWorkedWith                                                            NaN
WelcomeChange                             Just as welcome now as I felt last year
WorkWeekHrs                                                                   NaN
YearsCode                                                                       6
YearsCodePro                                                                  NaN
Name: 31845, dtype: object

In [23]:
df.describe()

         Respondent           Age      CompTotal  ConvertedComp   WorkWeekHrs
count  64461.000000  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean   32554.079738     30.834111  3.190464e+242   1.037561e+05     40.782174
std    18967.442360      9.585392            inf   2.268853e+05     17.816383
min        1.000000      1.000000   0.000000e+00   0.000000e+00      1.000000
25%    16116.000000     24.000000   2.000000e+04   2.464800e+04     40.000000
50%    32231.000000     29.000000   6.300000e+04   5.404900e+04     40.000000
75%    49142.000000     35.000000   1.250000e+05   9.500000e+04     44.000000
max    65639.000000    279.000000  1.111111e+247   2.000000e+06    475.000000

In [27]:
# Investigate the questionable objects columns
questionable_cols = ['YearsCodePro', 'YearsCode', 'Age1stCode']

for col in questionable_cols: 
    print(col)
    print(df[col].unique().tolist())
    print('--------------------------')
    print()

YearsCodePro
['27', '4', nan, '8', '13', '2', '7', '20', '1', '23', '3', '12', '17', '18', '10', '14', '29', '6', '28', '9', '15', '11', '16', '25', 'Less than 1 year', '5', '21', '19', '35', '24', '32', '22', '30', '38', '26', '40', '33', '31', 'More than 50 years', '34', '36', '39', '37', '41', '45', '47', '42', '46', '50', '43', '44', '48', '49']
--------------------------

YearsCode
['36', '7', '4', '15', '6', '17', '8', '10', '35', '5', '37', '19', '9', '22', '30', '23', '20', '2', 'Less than 1 year', '3', '13', '25', '16', '43', '11', '38', '33', nan, '24', '21', '12', '40', '27', '50', '46', '14', '18', '28', '32', '44', '26', '42', '31', '34', '29', '1', '39', '41', '45', 'More than 50 years', '47', '49', '48']
--------------------------

Age1stCode
['13', '19', '15', '18', '16', '14', '12', '20', '42', '8', '25', '22', '30', '17', '21', '10', '46', '9', '7', '11', '6', nan, '31', '29', '5', 'Younger than 5 years', '28', '38', '23', '27', '41', '24', '53', '26', '35', '32', '40', '33', '36', '54', '48', '56', '45', '44', '34', 'Older than 85', '39', '51', '68', '50', '37', '47', '43', '52', '85', '64', '55', '58', '49', '76', '72', '73', '83', '63']
--------------------------